In [13]:
import pandas as pd
import datetime
from datetime import date, timedelta
import numpy as np
import seaborn as sns

In [14]:
def missing_date(d, start_date, end_date):
    #print(start_date, end_date)
    date_set = set(start_date + timedelta(x) for x in range((end_date - start_date).days))
    #print(d)
    missing = sorted(date_set - set(d))
    #print(missing)
    return missing

def toDate(row):
    return datetime.datetime.strptime(row['date'], "%Y-%m-%d").date()

def duplicate_rows(x, colnm):
    return x[colnm == x.duplicated([colnm])]

def get_outliers_index(x,colnm):
    # print("Processing ",x.iloc[0]['store_id'], x.iloc[0]['cat_id'])
    data = x[colnm]
    Q1 = np.percentile(data, 25, interpolation = 'midpoint') 
    Q2 = np.percentile(data, 50, interpolation = 'midpoint') 
    Q3 = np.percentile(data, 75, interpolation = 'midpoint') 
    
    # print('Q1 25 percentile of the given data is, ', Q1)
    # print('Q1 50 percentile of the given data is, ', Q2)
    # print('Q1 75 percentile of the given data is, ', Q3)
    
    IQR = Q3 - Q1 
    # print('Interquartile range is', IQR)
    low_lim = Q1 - 1.5 * IQR
    up_lim = Q3 + 1.5 * IQR
    # print('low_limit is', low_lim)
    # print('up_limit is', up_lim)
    df = x
    idx = df.index[(df[colnm] > up_lim) | (df[colnm] < low_lim)]
    # print(x.loc[idx])
    # print("\n*************************\n")
    return idx #x.loc[idx]

def print_outliers(x,colnm):
    idx = get_outliers_index(x,colnm)
    return x.loc[idx]

def set_outliers_to_nan(x,colnm,mndta):
    idx = get_outliers_index(x,colnm)
    #x.loc[idx,[colnm]] = None
    mndta.loc[idx,[colnm]] = None
    return mndta.loc[idx]

### Read the data sales.csv from the data folder into a pandas DataFrame and preview the first five rows.

In [15]:
data = pd.read_csv("/Zia/workflow_files/data/sales.csv")

In [16]:
data

             date store_id     cat_id    sales
0      2011-01-29     TX_1      FOODS  3950.35
1      2011-01-30     TX_1      FOODS  3844.97
2      2011-01-31     TX_1      FOODS  2888.03
3      2011-02-01     TX_1      FOODS  3631.28
4      2011-02-02     TX_1      FOODS  3072.18
...           ...      ...        ...      ...
58225  2016-05-18     WI_3  HOUSEHOLD  2225.31
58226  2016-05-19     WI_3  HOUSEHOLD  2468.50
58227  2016-05-20     WI_3  HOUSEHOLD  3664.25
58228  2016-05-21     WI_3  HOUSEHOLD  3487.02
58229  2016-05-22     WI_3  HOUSEHOLD  3566.90

[58230 rows x 4 columns]

In [17]:
sd_df = data.copy()

In [18]:
sd_df

             date store_id     cat_id    sales
0      2011-01-29     TX_1      FOODS  3950.35
1      2011-01-30     TX_1      FOODS  3844.97
2      2011-01-31     TX_1      FOODS  2888.03
3      2011-02-01     TX_1      FOODS  3631.28
4      2011-02-02     TX_1      FOODS  3072.18
...           ...      ...        ...      ...
58225  2016-05-18     WI_3  HOUSEHOLD  2225.31
58226  2016-05-19     WI_3  HOUSEHOLD  2468.50
58227  2016-05-20     WI_3  HOUSEHOLD  3664.25
58228  2016-05-21     WI_3  HOUSEHOLD  3487.02
58229  2016-05-22     WI_3  HOUSEHOLD  3566.90

[58230 rows x 4 columns]

### Verify the number of unique values of store_id and cat_id.

In [19]:
print("Number of unique values of 'store_id': ",sd_df['store_id'].nunique())
print("Number of unique values of 'cat_id': ",sd_df['cat_id'].nunique())

Number of unique values of 'store_id':  10
Number of unique values of 'cat_id':  3

### Verify the date range of the sales data.

In [20]:
# sd_df['rdate'] =  sd_df.apply(toDate, axis=1)
sd_df['rdate'] =  pd.to_datetime(sd_df['date'])

#df['race_label'] = df.apply(label_race, axis=1)
sd_df['rdate']

0       2011-01-29
1       2011-01-30
2       2011-01-31
3       2011-02-01
4       2011-02-02
           ...
58225   2016-05-18
58226   2016-05-19
58227   2016-05-20
58228   2016-05-21
58229   2016-05-22
Name: rdate, Length: 58230, dtype: datetime64[ns]

In [21]:
dtr = sd_df['rdate'].max() - sd_df['rdate'].min()
print("Date range of sales data : ", dtr)

Date range of sales data :  1940 days 00:00:00

In [22]:
sd_df['rdate'].nunique()

1941

In [23]:
shp_cat_grp = sd_df.groupby(['store_id','cat_id'])
shp_cat_grp

### Check for duplicated dates within a store and category group

In [24]:
r = shp_cat_grp.apply(lambda x: duplicate_rows(x,'rdate'))
r

C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2257613844.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  r = shp_cat_grp.apply(lambda x: duplicate_rows(x,'rdate'))

Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []

In [25]:
for name, group in shp_cat_grp:
	print(name, type(group))
	print("duplicate dates in ", name ,group['rdate' == group.duplicated(['rdate'])])
	print("\n")

('CA_1', 'FOODS') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_1', 'FOODS') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_1', 'HOBBIES') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_1', 'HOBBIES') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_1', 'HOUSEHOLD') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_1', 'HOUSEHOLD') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_2', 'FOODS') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_2', 'FOODS') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_2', 'HOBBIES') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_2', 'HOBBIES') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_2', 'HOUSEHOLD') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_2', 'HOUSEHOLD') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_3', 'FOODS') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_3', 'FOODS') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_3', 'HOBBIES') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_3', 'HOBBIES') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_3', 'HOUSEHOLD') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_3', 'HOUSEHOLD') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_4', 'FOODS') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_4', 'FOODS') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_4', 'HOBBIES') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_4', 'HOBBIES') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('CA_4', 'HOUSEHOLD') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('CA_4', 'HOUSEHOLD') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('TX_1', 'FOODS') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('TX_1', 'FOODS') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('TX_1', 'HOBBIES') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('TX_1', 'HOBBIES') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('TX_1', 'HOUSEHOLD') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('TX_1', 'HOUSEHOLD') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('TX_2', 'FOODS') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('TX_2', 'FOODS') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('TX_2', 'HOBBIES') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('TX_2', 'HOBBIES') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('TX_2', 'HOUSEHOLD') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('TX_2', 'HOUSEHOLD') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('TX_3', 'FOODS') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('TX_3', 'FOODS') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('TX_3', 'HOBBIES') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('TX_3', 'HOBBIES') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('TX_3', 'HOUSEHOLD') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('TX_3', 'HOUSEHOLD') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('WI_1', 'FOODS') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('WI_1', 'FOODS') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('WI_1', 'HOBBIES') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('WI_1', 'HOBBIES') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('WI_1', 'HOUSEHOLD') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('WI_1', 'HOUSEHOLD') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('WI_2', 'FOODS') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('WI_2', 'FOODS') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('WI_2', 'HOBBIES') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('WI_2', 'HOBBIES') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('WI_2', 'HOUSEHOLD') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('WI_2', 'HOUSEHOLD') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('WI_3', 'FOODS') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('WI_3', 'FOODS') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('WI_3', 'HOBBIES') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('WI_3', 'HOBBIES') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []


('WI_3', 'HOUSEHOLD') <class 'pandas.core.frame.DataFrame'>
duplicate dates in  ('WI_3', 'HOUSEHOLD') Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []

### Check if there are any missing dates in between the sales data.

In [26]:
max_dt = max(sd_df['rdate'])
max_dt

Timestamp('2016-05-22 00:00:00')

In [27]:
min_dt = min(sd_df['rdate'])
min_dt

Timestamp('2011-01-29 00:00:00')

In [28]:
shp_cat_grp[['rdate']].apply(lambda x: missing_date(x['rdate'],min_dt,max_dt))

store_id  cat_id
CA_1      FOODS        []
          HOBBIES      []
          HOUSEHOLD    []
CA_2      FOODS        []
          HOBBIES      []
          HOUSEHOLD    []
CA_3      FOODS        []
          HOBBIES      []
          HOUSEHOLD    []
CA_4      FOODS        []
          HOBBIES      []
          HOUSEHOLD    []
TX_1      FOODS        []
          HOBBIES      []
          HOUSEHOLD    []
TX_2      FOODS        []
          HOBBIES      []
          HOUSEHOLD    []
TX_3      FOODS        []
          HOBBIES      []
          HOUSEHOLD    []
WI_1      FOODS        []
          HOBBIES      []
          HOUSEHOLD    []
WI_2      FOODS        []
          HOBBIES      []
          HOUSEHOLD    []
WI_3      FOODS        []
          HOBBIES      []
          HOUSEHOLD    []
dtype: object

### Check for outliers by using the IQR method and implement it on the sales data.

In [29]:
z = shp_cat_grp.apply(lambda x: print_outliers(x,'sales'))
z

C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:39: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\1327513869.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  z = shp_cat_grp.apply(lambda x: print_outliers(x,'sales'))

                                date store_id     cat_id     sales      rdate
store_id cat_id
CA_1     FOODS     17799  2011-12-25     CA_1      FOODS      0.00 2011-12-25
                   18165  2012-12-25     CA_1      FOODS      0.00 2012-12-25
                   18530  2013-12-25     CA_1      FOODS      0.00 2013-12-25
                   18660  2014-05-04     CA_1      FOODS  12279.28 2014-05-04
                   18814  2014-10-05     CA_1      FOODS  11763.78 2014-10-05
...                              ...      ...        ...       ...        ...
WI_3     HOUSEHOLD 58178  2016-04-01     WI_3  HOUSEHOLD   4256.42 2016-04-01
                   58179  2016-04-02     WI_3  HOUSEHOLD   4200.40 2016-04-02
                   58180  2016-04-03     WI_3  HOUSEHOLD   4281.67 2016-04-03
                   58187  2016-04-10     WI_3  HOUSEHOLD   4151.65 2016-04-10
                   58207  2016-04-30     WI_3  HOUSEHOLD   4077.24 2016-04-30

[828 rows x 5 columns]

### Check for any missing sales values.

In [30]:
sd_df[sd_df['sales'].isnull()]

Empty DataFrame
Columns: [date, store_id, cat_id, sales, rdate]
Index: []

### Set outliers to null value and impute the missing sales using the linear interpolation method.

#### Set outliers to null

In [31]:
y = shp_cat_grp.apply(lambda x: set_outliers_to_nan(x,'sales',sd_df))
y

C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2656595661.py:43: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  idx = get_outliers_index(x,colnm)
C:\Users\Ziauddin Syed\AppData\Local\Temp\ipykernel_14776\2193372272.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  y = shp_cat_grp.apply(lambda x: set_outliers_to_nan(x,'sales',sd_df))

                                date store_id     cat_id  sales      rdate
store_id cat_id
CA_1     FOODS     17799  2011-12-25     CA_1      FOODS    NaN 2011-12-25
                   18165  2012-12-25     CA_1      FOODS    NaN 2012-12-25
                   18530  2013-12-25     CA_1      FOODS    NaN 2013-12-25
                   18660  2014-05-04     CA_1      FOODS    NaN 2014-05-04
                   18814  2014-10-05     CA_1      FOODS    NaN 2014-10-05
...                              ...      ...        ...    ...        ...
WI_3     HOUSEHOLD 58178  2016-04-01     WI_3  HOUSEHOLD    NaN 2016-04-01
                   58179  2016-04-02     WI_3  HOUSEHOLD    NaN 2016-04-02
                   58180  2016-04-03     WI_3  HOUSEHOLD    NaN 2016-04-03
                   58187  2016-04-10     WI_3  HOUSEHOLD    NaN 2016-04-10
                   58207  2016-04-30     WI_3  HOUSEHOLD    NaN 2016-04-30

[828 rows x 5 columns]

In [32]:
sd_df[sd_df['sales'].isnull()]

             date store_id     cat_id  sales      rdate
330    2011-12-25     TX_1      FOODS    NaN 2011-12-25
434    2012-04-07     TX_1      FOODS    NaN 2012-04-07
435    2012-04-08     TX_1      FOODS    NaN 2012-04-08
463    2012-05-06     TX_1      FOODS    NaN 2012-05-06
533    2012-07-15     TX_1      FOODS    NaN 2012-07-15
...           ...      ...        ...    ...        ...
58178  2016-04-01     WI_3  HOUSEHOLD    NaN 2016-04-01
58179  2016-04-02     WI_3  HOUSEHOLD    NaN 2016-04-02
58180  2016-04-03     WI_3  HOUSEHOLD    NaN 2016-04-03
58187  2016-04-10     WI_3  HOUSEHOLD    NaN 2016-04-10
58207  2016-04-30     WI_3  HOUSEHOLD    NaN 2016-04-30

[828 rows x 5 columns]

In [34]:
nlidx = sd_df[sd_df['sales'].isnull()].index

In [35]:
list(nlidx)

[330,
 434,
 435,
 463,
 533,
 696,
 960,
 981,
 988,
 1061,
 1135,
 1170,
 1177,
 1408,
 1426,
 1506,
 1527,
 1590,
 1598,
 1716,
 1791,
 1884,
 1933,
 1940,
 2271,
 2637,
 3002,
 3367,
 3412,
 3431,
 3432,
 3433,
 3440,
 3454,
 3461,
 3475,
 3481,
 3489,
 3509,
 3510,
 3517,
 3524,
 3539,
 3597,
 3692,
 3732,
 3733,
 3776,
 3790,
 3797,
 3853,
 3866,
 3874,
 3880,
 4212,
 4578,
 4943,
 5308,
 5388,
 5409,
 5450,
 5451,
 5465,
 5549,
 5673,
 5674,
 5731,
 5738,
 5745,
 5759,
 5773,
 5801,
 5815,
 5822,
 6153,
 6251,
 6257,
 6286,
 6519,
 6748,
 6783,
 6811,
 6884,
 6975,
 7048,
 7249,
 7338,
 7339,
 7421,
 7614,
 7756,
 8094,
 8460,
 8825,
 9190,
 9256,
 9270,
 9279,
 9280,
 9284,
 9319,
 9332,
 9362,
 9555,
 9682,
 9683,
 9697,
 9704,
 10035,
 10401,
 10455,
 10766,
 11131,
 11197,
 11220,
 11221,
 11371,
 11449,
 11496,
 11497,
 11539,
 11546,
 11553,
 11554,
 11561,
 11568,
 11609,
 11610,
 11638,
 11645,
 11976,
 12342,
 12707,
 13072,
 13244,
 13271,
 13397,
 13437,
 13481,
 13565,
 13571,
 13579,
 13586,
 15037,
 15065,
 15072,
 15079,
 15100,
 15106,
 15113,
 15121,
 15141,
 15142,
 15148,
 15156,
 15162,
 15163,
 15170,
 15171,
 15185,
 15205,
 15324,
 15338,
 15344,
 15359,
 15373,
 15415,
 15421,
 15422,
 15429,
 15443,
 15478,
 15492,
 15505,
 15520,
 15527,
 17799,
 18165,
 18530,
 18660,
 18814,
 18821,
 18828,
 18842,
 18849,
 18895,
 18995,
 19024,
 19178,
 19260,
 19303,
 19332,
 19346,
 19360,
 19388,
 19402,
 19409,
 19740,
 20106,
 20471,
 20836,
 20901,
 21056,
 21069,
 21161,
 21168,
 21188,
 21195,
 21196,
 21201,
 21209,
 21273,
 21301,
 21314,
 21342,
 21681,
 22047,
 22412,
 22654,
 22696,
 22724,
 22777,
 22864,
 22898,
 22906,
 22934,
 22962,
 22976,
 22983,
 22997,
 23003,
 23004,
 23011,
 23018,
 23025,
 23039,
 23046,
 23059,
 23060,
 23067,
 23074,
 23102,
 23109,
 23122,
 23142,
 23171,
 23178,
 23179,
 23185,
 23207,
 23214,
 23220,
 23228,
 23241,
 23242,
 23248,
 23249,
 23263,
 23269,
 23270,
 23283,
 23284,
 23291,
 23622,
 23988,
 24353,
 24718,
 24916,
 24917,
 24923,
 24931,
 24937,
 24938,
 24944,
 24945,
 24951,
 24952,
 24958,
 24959,
 24965,
 24966,
 24972,
 24973,
 24974,
 24979,
 24980,
 24986,
 24987,
 24993,
 24994,
 25000,
 25001,
 25007,
 25008,
 25014,
 25015,
 25021,
 25022,
 25028,
 25029,
 25035,
 25036,
 25042,
 25043,
 25049,
 25050,
 25063,
 25064,
 25070,
 25071,
 25077,
 25078,
 25083,
 25092,
 25098,
 25099,
 25105,
 25106,
 25107,
 25112,
 25113,
 25119,
 25120,
 25126,
 25127,
 25133,
 25134,
 25140,
 25141,
 25147,
 25148,
 25154,
 25155,
 25161,
 25162,
 25174,
 25175,
 25176,
 25181,
 25182,
 25183,
 25188,
 25189,
 25190,
 25195,
 25196,
 25197,
 25202,
 25203,
 25204,
 25210,
 25211,
 25212,
 25214,
 25216,
 25217,
 25218,
 25223,
 25224,
 25225,
 25226,
 25230,
 25231,
 25232,
 25563,
 25929,
 26294,
 26318,
 26659,
 26849,
 26864,
 26878,
 26885,
 26886,
 26899,
 26906,
 26907,
 26920,
 26921,
 26927,
 26934,
 26935,
 26942,
 26948,
 26949,
 26955,
 26956,
 26962,
 26963,
 26970,
 26976,
 26977,
 26983,
 26984,
 26990,
 26991,
 27004,
 27005,
 27011,
 27012,
 27019,
 27022,
 27024,
 27025,
 27033,
 27039,
 27053,
 27060,
 27061,
 27067,
 27074,
 27081,
 27082,
 27088,
 27095,
 27096,
 27102,
 27103,
 27115,
 27123,
 27124,
 27130,
 27131,
 27137,
 27144,
 27145,
 27151,
 27152,
 27158,
 27165,
 27166,
 27172,
 27173,
 27504,
 27870,
 28235,
 28301,
 28600,
 28819,
 28827,
 28833,
 28840,
 28841,
 28847,
 28848,
 28854,
 28861,
 28869,
 28876,
 28882,
 28883,
 28889,
 28890,
 28896,
 28897,
 28904,
 28910,
 28911,
 28917,
 28924,
 28925,
 28931,
 28945,
 28946,
 28952,
 28965,
 28980,
 28987,
 28988,
 28994,
 28995,
 29001,
 29002,
 29008,
 29022,
 29023,
 29029,
 29030,
 29037,
 29043,
 29044,
 29057,
 29058,
 29064,
 29065,
 29071,
 29072,
 29079,
 29085,
 29086,
 29092,
 29093,
 29099,
 29106,
 29107,
 29113,
 29114,
 29204,
 29445,
 29811,
 30176,
 30250,
 30460,
 30488,
 30541,
 30585,
 30614,
 30906,
 30922,
 30978,
 31013,
 31386,
 31752,
 32117,
 32482,
 32847,
 32884,
 32933,
 33327,
 33693,
 34058,
 34423,
 34510,
 34524,
 34643,
 34650,
 34657,
 34664,
 34685,
 34705,
 34734,
 34788,
 34860,
 34867,
 34874,
 34888,
 34895,
 34902,
 34909,
 34916,
 34930,
 34937,
 34992,
 35081,
 35268,
 35634,
 35999,
 36037,
 36283,
 36297,
 36311,
 36364,
 36633,
 36647,
 36654,
 36661,
 36729,
 36772,
 36794,
 36801,
 36815,
 36821,
 36829,
 36835,
 36836,
 36850,
 36857,
 36858,
 36865,
 36870,
 36871,
 36878,
 39150,
 39516,
 39881,
 40246,
 40611,
 40683,
 40710,
 40711,
 40725,
 40732,
 40753,
 40759,
 40760,
 42224,
 42658,
 42706,
 43032,
 43398,
 43759,
 43763,
 43773,
 43794,
 43815,
 43878,
 44025,
 44074,
 44081,
 44123,
 44128,
 44136,
 44144,
 44151,
 44158,
 44165,
 44172,
 44186,
 44193,
 44200,
 44221,
 44228,
 44242,
 44249,
 44292,
 44318,
 44375,
 44452,
 44458,
 44473,
 44487,
 44493,
 44499,
 44501,
 44515,
 44522,
 44529,
 44536,
 44543,
 44550,
 44557,
 44578,
 44585,
 44593,
 44599,
 44627,
 44647,
 44973,
 45278,
 45279,
 45280,
 45287,
 45339,
 45406,
 45704,
 45763,
 45987,
 46015,
 46069,
 46085,
 46092,
 46099,
 46106,
 46113,
 46127,
 46128,
 46134,
 46135,
 46141,
 46142,
 46148,
 46155,
 46156,
 46162,
 46176,
 46183,
 46190,
 46204,
 46225,
 46259,
 46288,
 46316,
 46330,
 46358,
 46372,
 46386,
 46393,
 46415,
 46434,
 46442,
 46449,
 46456,
 46470,
 46477,
 46484,
 46491,
 46492,
 46498,
 46499,
 46506,
 46512,
 46519,
 46526,
 46533,
 46534,
 46540,
 46541,
 46547,
 46554,
 46555,
 46561,
 46562,
 46575,
 46576,
 46582,
 46583,
 48418,
 48480,
 48481,
 48511,
 48513,
 48516,
 48517,
 50354,
 50414,
 50422,
 51046,
 51200,
 51746,
 51774,
 51928,
 51929,
 51957,
 52110,
 52111,
 52142,
 52172,
 52173,
 52201,
 52263,
 52293,
 52295,
 52304,
 52305,
 52307,
 52314,
 52326,
 52355,
 52356,
 52363,
 52383,
 52660,
 52666,
 52737,
 52757,
 52779,
 52785,
 52786,
 52806,
 52869,
 52870,
 52876,
 52898,
 52904,
 52928,
 52931,
 52940,
 53103,
 53121,
 53149,
 53170,
 53468,
 53833,
 54198,
 54241,
 54248,
 54249,
 54270,
 54298,
 54304,
 54339,
 54340,
 54352,
 54678,
 54679,
 54837,
 54928,
 54959,
 54964,
 54991,
 55019,
 55034,
 55044,
 55082,
 55110,
 55111,
 55264,
 55409,
 55774,
 55782,
 55964,
 56056,
 56083,
 56119,
 56139,
 56189,
 56196,
 56237,
 56273,
 56619,
 56778,
 56869,
 56870,
 56898,
 56985,
 57023,
 57024,
 57038,
 57051,
 57052,
 57053,
 57350,
 57715,
 57752,
 57780,
 57997,
 58039,
 58080,
 58116,
 58130,
 58137,
 58145,
 58152,
 58178,
 58179,
 58180,
 58187,
 58207]

####  Impute the missing sales using the linear interpolation method

In [38]:
sd_df['sales'] = sd_df['sales'].interpolate()

#### Check the interploted values

In [39]:
sd_df.iloc[nlidx]

             date store_id     cat_id      sales      rdate
330    2011-12-25     TX_1      FOODS  4965.8100 2011-12-25
434    2012-04-07     TX_1      FOODS  5980.2600 2012-04-07
435    2012-04-08     TX_1      FOODS  5428.8400 2012-04-08
463    2012-05-06     TX_1      FOODS  6503.9850 2012-05-06
533    2012-07-15     TX_1      FOODS  5223.8000 2012-07-15
...           ...      ...        ...        ...        ...
58178  2016-04-01     WI_3  HOUSEHOLD  2586.8525 2016-04-01
58179  2016-04-02     WI_3  HOUSEHOLD  2637.7050 2016-04-02
58180  2016-04-03     WI_3  HOUSEHOLD  2688.5575 2016-04-03
58187  2016-04-10     WI_3  HOUSEHOLD  3359.3850 2016-04-10
58207  2016-04-30     WI_3  HOUSEHOLD  3733.0400 2016-04-30

[828 rows x 5 columns]

### Save the preprocessed data as 'sales_processed.csv'

In [41]:
sd_df.to_csv('sales_processed.csv')